.dialog{
    background:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dialog-wrapper{
    background:white;
    padding:20px;
    min-width:200px;
    position: relative;
}
.dialog-x{
    position:absolute;
    right:2px;
    top:0;
    cursor: pointer;
}
.dialog-header{
    border-bottom:2px solid rgba(0,0,0,0.5);
}
.dialog-main{
    padding:10px 10px;
}
.dialog-footer{
    text-align:right;
}